/* color utilities class
 *
 * Author: mthdht
 * Licence: "MIT"
 *
 * Those colors are taken from the Tailwindcss colors palette (light: 200, basic: 500, dark: 700)
 * see: https://tailwindcss.com/docs/customizing-colors/#default-color-palette
 */

/* green color */
.green {
    background-color: #48BB78;
    color: #F0FFF4;
}

.green-light {
    background-color: #9AE6B4;
    color: #276749;
}

.green-dark {
    background-color: #2F855A;
    color:#F0FFF4;
}

.text-green {
    color: #48BB78;
}

.text-green-light {
    color: #9AE6B4;
}

.text-green-dark {
    color: #276749;
}

.hover\:green:hover {
    background-color: #48BB78;
    color: #F0FFF4;
}

.hover\:green-light:hover {
    background-color: #9AE6B4;
    color: #276749;
}

.hover\:green-dark:hover {
    background-color: #2F855A;
    color:#F0FFF4;
}

/* ---------------- gray color ----------------- */
.gray {
    background-color: #A0AEC0;
    color: #F7FAFC;
}

.gray-light {
    background-color: #E2E8F0;
    color: #2D3748;
}

.gray-dark {
    background-color: #4A5568;
    color:#F7FAFC;
}

.text-gray {
    color: #A0AEC0;
}

.text-gray-light {
    color: #E2E8F0;
}

.text-gray-dark {
    color: #2D3748;
}

.hover\:gray:hover {
    background-color: #A0AEC0;
    color: #F7FAFC;
}

.hover\:gray-light:hover {
    background-color: #E2E8F0;
    color: #2D3748;
}

.hover\:gray-dark:hover {
    background-color: #4A5568;
    color:#F7FAFC;
}


/* ---------------- red color ----------------- */
.red {
    background-color: #F56565;
    color: #FFF5F5;
}

.red-light {
    background-color: #FEB2B2;
    color: #9B2C2C;
}

.red-dark {
    background-color: #C53030;
    color:#FFF5F5;
}

.text-red {
    color: #F56565;
}

.text-red-light {
    color: #FEB2B2;
}

.text-red-dark {
    color: #9B2C2C;
}

.hover\:red:hover {
    background-color: #F56565;
    color: #FFF5F5;
}

.hover\:red-light:hover {
    background-color: #FEB2B2;
    color: #9B2C2C;
}

.hover\:red-dark:hover {
    background-color: #C53030;
    color:#FFF5F5;
}

/* ---------------- orange color ----------------- */
.orange {
    background-color: #ED8936;
    color: #FFFAF0;
}

.orange-light {
    background-color: #FBD38D;
    color: #9C4221;
}

.orange-dark {
    background-color: #C05621;
    color:#FFFAF0;
}

.text-orange {
    color: #ED8936;
}

.text-orange-light {
    color: #FBD38D;
}

.text-orange-dark {
    color: #9C4221;
}

.hover\:orange:hover {
    background-color: #ED8936;
    color: #FFFAF0;
}

.hover\:orange-light:hover {
    background-color: #FBD38D;
    color: #9C4221;
}

.hover\:orange-dark:hover {
    background-color: #C05621;
    color:#FFFAF0;
}

/* ---------------- yellow color ----------------- */
.yellow {
    background-color: #ECC94B;
    color: #FFFFF0;
}

.yellow-light {
    background-color: #FAF089;
    color: #975A16;
}

.yellow-dark {
    background-color: #B7791F;
    color:#FFFFF0;
}

.text-yellow {
    color: #ECC94B;
}

.text-yellow-light {
    color: #FAF089;
}

.text-yellow-dark {
    color: #975A16;
}

.hover\:yellow:hover {
    background-color: #ECC94B;
    color: #FFFFF0;
}

.hover\:yellow-light:hover {
    background-color: #FAF089;
    color: #975A16;
}

.hover\:yellow-dark:hover {
    background-color: #B7791F;
    color:#FFFFF0;
}

/* ---------------- teal color ----------------- */
.teal {
    background-color: #38B2AC;
    color: #E6FFFA;
}

.teal-light {
    background-color: #81E6D9;
    color: #285E61;
}

.teal-dark {
    background-color: #2C7A7B;
    color:#E6FFFA;
}

.text-teal {
    color: #38B2AC;
}

.text-teal-light {
    color: #81E6D9;
}

.text-teal-dark {
    color: #285E61;
}

.hover\:teal:hover {
    background-color: #38B2AC;
    color: #E6FFFA;
}

.hover\:teal-light:hover {
    background-color: #81E6D9;
    color: #285E61;
}

.hover\:teal-dark:hover {
    background-color: #2C7A7B;
    color:#E6FFFA;
}

/* ---------------- blue color ----------------- */
.blue {
    background-color: #4299E1;
    color: #EBF8FF;
}

.blue-light {
    background-color: #90CDF4;
    color: #2C5282;
}

.blue-dark {
    background-color: #2B6CB0;
    color:#EBF8FF;
}

.text-blue {
    color: #4299E1;
}

.text-blue-light {
    color: #90CDF4;
}

.text-blue-dark {
    color: #2C5282;
}

.hover\:blue:hover {
    background-color: #4299E1;
    color: #EBF8FF;
}

.hover\:blue-light:hover {
    background-color: #90CDF4;
    color: #2C5282;
}

.hover\:blue-dark:hover {
    background-color: #2B6CB0;
    color:#EBF8FF;
}

/* ---------------- indigo color ----------------- */
.indigo {
    background-color: #667EEA;
    color: #EBF4FF;
}

.indigo-light {
    background-color: #A3BFFA;
    color: #434190;
}

.indigo-dark {
    background-color: #4C51BF;
    color:#EBF4FF;
}

.text-indigo {
    color: #667EEA;
}

.text-indigo-light {
    color: #A3BFFA;
}

.text-indigo-dark {
    color: #434190;
}

.hover\:indigo:hover {
    background-color: #667EEA;
    color: #EBF4FF;
}

.hover\:indigo-light:hover {
    background-color: #A3BFFA;
    color: #434190;
}

.hover\:indigo-dark:hover {
    background-color: #4C51BF;
    color:#EBF4FF;
}

/* ---------------- purple color ----------------- */
.purple {
    background-color: #9F7AEA;
    color: #FAF5FF;
}

.purple-light {
    background-color: #D6BCFA;
    color: #553C9A;
}

.purple-dark {
    background-color: #6B46C1;
    color:#FAF5FF;
}

.text-purple {
    color: #9F7AEA;
}

.text-purple-light {
    color: #D6BCFA;
}

.text-purple-dark {
    color: #553C9A;
}

.hover\:purple:hover {
    background-color: #9F7AEA;
    color: #FAF5FF;
}

.hover\:purple-light:hover {
    background-color: #D6BCFA;
    color: #553C9A;
}

.hover\:purple-dark:hover {
    background-color: #6B46C1;
    color:#FAF5FF;
}

/* ---------------- pink color ----------------- */
.pink {
    background-color: #ED64A6;
    color: #FFF5F7;
}

.pink-light {
    background-color: #FBB6CE;
    color: #97266D;
}

.pink-dark {
    background-color: #B83280;
    color:#FFF5F7;
}

.text-pink {
    color: #ED64A6;
}

.text-pink-light {
    color: #FBB6CE;
}

.text-pink-dark {
    color: #97266D;
}

.hover\:pink:hover {
    background-color: #ED64A6;
    color: #FFF5F7;
}

.hover\:pink-light:hover {
    background-color: #FBB6CE;
    color: #97266D;
}

.hover\:pink-dark:hover {
    background-color: #B83280;
    color:#FFF5F7;
}